<div class="page" data-name="home">
    
          <!-- Static Navbar -->
          <div class="navbar">
            <div class="navbar-bg"></div>
            <div class="navbar-inner">
              <div class="left">
                
              </div>
              <div class="title">Static Navbar</div>
              <div class="right"></div>
            </div>
          </div>
         

    <div class="page-content">
      <a href="/perfil/" class="col button button-fill"> Perfil </a>
      contenido
      <button class="col button button-fill" onclick="CerrarSesion()"> Cerrar Sesion </button>

    </div>


  </div>