<div class="page" data-name="login">
    
    <!-- Static Navbar -->
    <div class="navbar">
      <div class="navbar-bg"></div>
      <div class="navbar-inner">
        
        <div class="title">Team</div>
        <div class="right"></div>
      </div>
    </div>
   

<div class="page-content">
    
    <div class="login-screen-title">Team</div>
    <form>
      <div class="list">
        <ul>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">Username</div>
              <div class="item-input-wrap">
                <input type="text" name="username" id="usuario" placeholder="Your username">
              </div>
            </div>
          </li>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">Password</div>
              <div class="item-input-wrap">
                <input type="password" name="password" id="password" placeholder="Your password">
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="list">
        <ul>
          <li><a class="list-button" href="javascript:void(0)" onclick="Ingresar()">Ingresar</a></li>
          <!-- <button class="col button button-fill" onclick="Ingresar()">Ingresar </button>-->
        </ul>
        <div class="block-footer">
          <p>Si aun no cuentas con un usuario registrate aqui.</p>
          <p><a href="/registro/" class="col button button-outline black">Registrate</a></p>
        </div>
      </div>
    </form>

</div>
</div>